@model ProductVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row text-center">
            <h2 class="text-primary py-2"> @(Model.Product.Id!=0?"Update":"Create") Product</h2>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="mb-3 row">
                            <label asp-for="Product.Title" class="p-1"></label>
                            <input asp-for="Product.Title" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.Description" class="p-1"></label>
                            <textarea asp-for="Product.Description" class="form-control border-0 shadow"></textarea>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.ISBN" class="p-1"></label>
                            <input asp-for="Product.ISBN" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.Author" class="p-1"></label>
                            <input asp-for="Product.Author" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Author" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.CategoryId" class="p-1"></label>
                            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.ProductImages" class="p-1 text-muted"></label>
                            <input type="file" name="files" class="form-control border-0 shadow" multiple />
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.ListPrice" class="p-1"></label>
                            <input asp-for="Product.ListPrice" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.Price" class="p-1"></label>
                            <input asp-for="Product.Price" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.Price50" class="p-1"></label>
                            <input asp-for="Product.Price50" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Price50" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Product.Price100" class="p-1"></label>
                            <input asp-for="Product.Price100" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Price100" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-3">
                                @if (Model.Product.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                 else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    @if(Model.Product.ProductImages != null)
                    {
                        foreach(var image in Model.Product.ProductImages)
                        {
                            <div class="border p-1 m-2 text-center">
                                <img src="@image.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                                <a asp-action="DeleteImage" class="btn btn-danger" asp-route-imageId="@image.Id">
                                     <i class="bi bi-trash-fill"></i> Delete
                                </a>
                                </div>
                        }
                    }
                    
                </div>

            </div>

        </form>
    </div>
</div>



@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: '',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough| align lineheight | tinycomments | checklist numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    
}